html {
  font-family: sans-serif;
}

p{
  width: 200px;
  height: auto;
  margin: auto;
  text-align: center;
  font-size: 1.125rem;
  <!-- To figure out the rem, I researched a pixel to rem converter, entered in 18px, and
  received the corresponding rem number --!>
  background-color: mistyrose;
  border-radius: 5px;
  border: 1px solid mediumvioletred;
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0));
  box-shadow: inset 3px 3px 5px rgba(255,255,255,0.2),
  inset -3px -3px 5px rgba(0,0,0,0.2)
  3px 3px 5px black;
}

a{
  color: mistyrose;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

a:hover {
  color: mediumvioletred;
  text-decoration: none;
}
